<title>GlennRaps | The Best Similes, Metaphors and Punchlines</title>
<meta name="description" content="The Best Similes, Metaphors and Punchlines in Hip Hop and Rap">
<style>
  html, body, div, header, footer, a, p, table, tr, td, span, h1, h2, h3, h4, h5, h6, strong, em, b, i {
    font-family: monospace;
  }
  header {
    width: 100%;
    text-align: center;
    overflow: hidden;
    background: rgba(255,255,255,.42);
    font-size: 1.25em;
  }
  header div {
    width: auto;
    text-align: center;
    margin: .5em;
    -webkit-transform:rotate(-180deg);
    -moz-transform:rotate(-180deg);
    -o-transform:rotate(-180deg);
    transform:rotate(-180deg);
  }
  header div span {
    display: inline-block;
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    transform:rotate(180deg);
    position: relative;
    top: -6px;
  }
  .container {
    background: rgba(255,255,255,.93); /* til infinity */
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .container nav {
    position: absolute;
    top: -9px;
    left: -9px;
  }
  .container nav a {
    font-size: 1.25em;
    font-family: arial;
  }
  .container h1 {
    font-size: 3em;
    margin: 1.5em;
    text-align: center;
  }
  h1#rap {
    text-transform: uppercase;
  }
  footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    color: white;
    font-size: .666em;
    background: rgba(0,0,0,.93); /* til infinity */
    -webkit-border-top-right-radius: 9px;
    -moz-border-radius-topright: 9px;
    border-top-right-radius: 9px;
  }
  footer div {
    margin: 1em;
  }
  footer div a {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid rgba(255,255,255,.42); /* 0 */
  }
  footer div a:hover {
    color: lightblue;
    text-decoration: none;
    border-bottom: 1px solid lightblue; /* 0 */
  }
</style>
